<div class="add-tournament">
  <div>Generate matches for {{ noOfActiveTeams() }} active teams</div>
  <button mat-mini-fab color="primary" aria-label="Generate matches" (click)="createTournament()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="tournaments-list">
  @for (tournaments of tournaments; track tournaments) {
    <div class="tournaments">
      <div class="tournament-info">
        <div class="tournament-title">{{ tournaments.title }}</div>
        <button mat-stroked-button extended color="warn" (click)="deleteTournament(tournaments.id)">
          <mat-icon>delete</mat-icon>
          Delete tournament
        </button>
      </div>
      <div>Remaining {{ noOfRemainingMatches() }} of {{ noOfMatches() }} matches</div>
      <div class="match-list">
        @for (match of printableMatches(); track match) {
          <div class="match">
            <div
              class="team team1"
              role="button"
              tabindex="0"
              (click)="match.collapsePlayers = !match.collapsePlayers"
              (keyup.enter)="match.collapsePlayers = !match.collapsePlayers"
            >
              <div class="team-name">
                {{ match.team1?.name }}
                @if (match.team1?.id === match.winnerTeamId) {
                  <mat-icon class="winner">emoji_events</mat-icon>
                }
              </div>
              @for (player of match.team1?.players; track player) {
                <div class="players" [class.collapsed]="match.collapsePlayers">
                  <div>{{ player.name }}</div>
                </div>
              }
            </div>
            <div class="team-separator">
              <button mat-stroked-button color="primary" (click)="openResultDialog(match)">
                @if (match.winnerTeamId >= 0) {
                  <span>{{ match.team1Goals }}-{{ match.team2Goals }}</span>
                }
                @if (match.winnerTeamId < 0) {
                  <span>Result</span>
                }
              </button>
            </div>
            <div
              class="team team2"
              role="button"
              tabindex="0"
              (click)="match.collapsePlayers = !match.collapsePlayers"
              (keyup.enter)="match.collapsePlayers = !match.collapsePlayers"
            >
              <div class="team-name">
                @if (match.team2?.id === match.winnerTeamId) {
                  <mat-icon class="winner">emoji_events</mat-icon>
                }
                {{ match.team2?.name }}
              </div>
              @for (player of match.team2?.players; track player) {
                <div class="players" [class.collapsed]="match.collapsePlayers">
                  <div>{{ player.name }}</div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
