<div class="add-player">
  <mat-form-field appearance="outline">
    <mat-label>Add player name</mat-label>
    <input matInput [(ngModel)]="newPlayerName" name="newPlayerName" />
  </mat-form-field>
  <app-star-rating (ratingChange)="newPlayerRanking = $event"></app-star-rating>

  <button mat-mini-fab color="primary" aria-label="Add player" (click)="addPlayer()">
    <mat-icon>person_add</mat-icon>
  </button>
</div>

<div class="player-list">
  <p>{{ noOfActivePlayers() }} active players of {{ noOfPlayers() }}</p>

  <div class="player header">
    <button class="player-name clickable" (click)="sortBy('name')">Name</button>
    <button class="player-rating clickable" (click)="sortBy('rating')">Rating</button>
    <button class="active-toggle clickable" (click)="sortBy('isActive')">Active</button>
    <span class="delete-button clickable"></span>
  </div>
  @for (player of players; track player) {
    <div class="player">
      <span class="player-name">{{ player.name }}</span>
      <app-star-rating
        class="player-rating"
        [rating]="player.rating"
        (ratingChange)="updatePlayerRating(player, $event)"
      >
      </app-star-rating>
      <mat-slide-toggle
        class="active-toggle"
        color="primary"
        name="playerIsActive"
        [checked]="player.isActive"
        (click)="updatePlayerIsActive(player)"
      >
      </mat-slide-toggle>
      <button class="delete-button" mat-icon-button (click)="deletePlayer(player.id)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  }
</div>

<div class="message">
  <div>You can save players to a file so you can restore them later.</div>
  <div>All other data will be lost when you restore.</div>
  @if (message() !== '') {
    <div class="success">{{ message() }}</div>
  }
  @if (error() !== '') {
    <mat-error>{{ error() }}</mat-error>
  }
</div>

<div class="backup-restore-players">
  <div class="backup-players">
    <button mat-raised-button color="primary" (click)="persistPlayers()">
      <mat-icon>save</mat-icon>
      Save players...
    </button>
  </div>
  <div class="restore-players">
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Restore players...
    </button>
    <input type="file" #fileInput (change)="restorePlayers($event)" hidden />
  </div>
</div>
