
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" role="navigation" mode="over">
    <mat-nav-list>
      <a mat-list-item href="/players" [activated]="router.url === '/players'">
        <mat-icon>people</mat-icon>
        Players
      </a>
      <a mat-list-item href="/teams" [activated]="router.url === '/teams'">
        <mat-icon>groups</mat-icon>
        Teams
      </a>
      <a mat-list-item href="/matches" [activated]="router.url === '/matches'">
        <mat-icon>scoreboard</mat-icon>
        Matches
      </a>
      <a mat-list-item href="/scoreboard" [activated]="router.url === '/scoreboard'">
        <mat-icon>emoji_events</mat-icon>
        Scoreboard
      </a>
    </mat-nav-list>

    <div class="version-info">
      <span>Version: {{ version }}</span>
    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button mat-icon-button class="menu" aria-label="Open menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title }}</span>
  </mat-toolbar>

  <div class="main-content-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
