.scoreboard-row, .scoreboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.scoreboard-header {
  font-size: 1rem;
  font-weight: 900;
  .player-position {
    width: 40px;
  }
  .player-name {
    flex-grow: 1;
  }
}
.scoreboard-row {
  &:nth-of-type(even) {
    background-color: #efecfc;
  }
  background-color: #f9f7ff;
  .player-position {
    width: 40px;
    font-size: 1.1rem;
    font-weight: 900;
  }
  .player-name {
    font-size: 1.1rem;
    flex-grow: 1;
  }
  .player-score {
    font-size: 1.1rem;
    font-weight: 900;
  }
}
