<p>Create randomized teams with {{ noOfActivePlayers }} active players</p>
<div class="add-team">
  <mat-form-field appearance="outline">
    <mat-label>Number of players on each team</mat-label>
    <input matInput type="number" [(ngModel)]="noOfPlayersOnEachTeam" name="noOfPlayersOnEachTeam">
  </mat-form-field>

  <button mat-mini-fab color="primary" aria-label="Create randomized teams" (click)="randomTeams()">
    <mat-icon>group_add</mat-icon>
  </button>
</div>

<button mat-stroked-button extended color="warn" (click)="deleteAllTeams()">
  <mat-icon>delete</mat-icon>
  Delete all teams
</button>

<div class="team-list">
  <div *ngFor="let team of teams" class="team">
    <div class="team-info">
      <div class="team-name">{{ team.name }}
        <span class="team-rating"><mat-icon>star</mat-icon> {{ team.averageRating }}</span>
      </div>
      <mat-slide-toggle
        class="active-toggle"
        color="primary"
        name="teamIsActive"
        [checked]="team.isActive"
        (click)="updateTeamIsActive(team)">
      </mat-slide-toggle>
      <button class="delete-button" mat-icon-button (click)="deleteTeam(team.id)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
    <div class="player-list">
      <div *ngFor="let player of team.players" class="player">
        <span class="player-name">{{ player.name }}</span>
      </div>
    </div>
  </div>
</div>
